.header {
  padding: 16px 0;
  background: #FFFFFF;
  box-shadow: 0px 1px 4px 0px #00000014;
  &__nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  &__menu {
    display: flex;
    column-gap: 32px;
    align-items: center;
    .icon{
      @media screen and (max-width:885px){
          display: none;
      }
    }
    &-item {
      list-style-type: none;
    }
    &-link {
      display: flex;
      flex-direction: column;
      align-items: center;
      gap: 4px;
      &-text {
        @include text(10px, 600, 11px, #383838);
        text-align: center;
      }
    }
  }
  .burger-menu {
    width: 18px;
    height: 2px;
    background: #737373;
    position: relative;
    display: none;
    @media screen and (max-width:412px){
        display: block;
    }
    &:before {
      content: '';
      width: 18px;
      height: 2px;
      background: #737373;
      position: absolute;
      top: 5px;
    }
    &::after {
        content: '';
        width: 18px;
        height: 2px;
        background: #737373;
        position: absolute;
        top: -5px;
      }
  }
}
