.reviews {
  padding: 24px 0;
  &-title {
    @include text(28px, 800, 33.6px, #424242);
    position: relative;
    margin-bottom: 24px;
    &::after {
      content: "182";
      position: absolute;
      top: 0px;
      padding-left: 8px;
      @include text(16px, 400, 28.8px, #424242);
    }
  }
  &-content{
    width: 74%;
    @media screen and (max-width:885px){
       width: 100%;   
    }
  }
  &-cards {
    display: flex;
    column-gap: 24px;
    overflow: auto;
  }
  &-card {
    background: #fff;
    flex: 0 0 auto;
    width: 261px;
    min-width: 261px;
    padding: 30px 24px 16px;
    border-radius: 8px;
    box-shadow: 0px 1px 4px 0px #00000014;
    margin-bottom: 16px;
    &__data {
      @include text(13px, 400, 16.9px, #868686);
      margin-bottom: 16px;
    }
    &__user {
        @include text(14px, 600, 18.2px, #383838);
        margin-bottom: 6px;
    }
    &__title {
        @include text(16px, 700, 19.2px, #383838);
        margin-bottom: 12px;
    }
    &__text {
        @include text(14px, 400, 18.2px, #5E5E5E);
        padding-bottom: 40px;
    }
  }
}
/* Стили для всей полосы прокрутки */
::-webkit-scrollbar {
  width: 12px; /* Ширина вертикального скролла */
  height: 15px; /* Высота горизонтального скролла */
}

/* Стили для ползунка (ползущий элемент) */
::-webkit-scrollbar-thumb {
  background-color: #a8a8a8; /* Цвет ползунка */
  border-radius: 7px; /* Скругленные углы */
}

/* Стили для области, по которой движется ползунок */
::-webkit-scrollbar-track {
  background: #dddddd; /* Цвет фона трека */
  border-radius: 7px;
}
